.level-one-main {
  margin-top: 50px;
  margin-bottom: 50px;
  background: #000000;
  border-radius: 5px;

  @media screen and (max-width: 720px) {
    margin-top: 25px;
  }

  .parking-div {
    text-align: center;
    width: 100%;

    .customed {
      -ms-flex-preferred-size: 0 !important;
      flex-basis: 0 !important;
      -webkit-box-flex: 1 !important;
      -ms-flex-positive: 1 !important;
      flex-grow: 1 !important;
      max-width: 100% !important;

      &.left {
        margin-right: 5em;
      }

      &.right {
        margin-right: -2.1222em;
      }
    }
  }
}
