.login-body-main {
  background: #b20043 !important;
}

.login-main {
  margin-top: 8em;
  text-align: center;

  @media screen and (max-width: 720px) {
    margin-top: 12em;
  }

  .title {
    span {
      font-size: 8rem;
      font-weight: 500;
      color: #ffffff;
      font-family: 'Great Vibes', cursive;

      @media screen and (max-width: 720px) {
        font-size: 4.5rem;
      }
    }
  }

  .login-form {
    margin-top: 2em;
    text-align: center;
    text-align: -webkit-center;

    form {
      width: 20em;

      .customed {
        input {
          background: transparent;
          color: #ffffff;
          border-radius: 0;
          border: none;
          border-bottom: 1px solid #ffffff;

          &::placeholder {
            color: #ffffff !important;
            opacity: 1;
          }
          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
             color: #ffffff !important;
          }

          &::-ms-input-placeholder { /* Microsoft Edge */
             color: #ffffff !important;
          }
          &:focus {
            outline: none !important;
            box-shadow: none !important;
            font-size: 1rem;
            transition: font-size 1s;
          }

        }
      }

      .customed-logo {
        span {
          background: transparent;
          color: #ffffff;
          border-radius: 0;
          border: none;
          border-bottom: 1px solid #ffffff;
        }
      }

      .customed-button {
        margin-top: 1.7em;
        .make-oval {
          border-radius: 20px;
          width: 9.8em;
        }
      }

    }
  }
}
