.register-page-content {
  text-align: center;
  text-align: -webkit-center;
  padding-top: 6em;

  .register-page-title {
    h1 {
      &.title {
        color: #ffffff !important;
        font-size: 8rem;
        font-weight: 500;
        font-family: 'Great Vibes', cursive;
      }
    }
  }

  .register-page-form {
    margin-top: 3em;
    text-align: center;
    text-align: -webkit-center;

    form {
      width: 20em;

      .warning-message {
        color: #e20000 !important;
        margin-top: -18px;
        text-align: left;

        &.special {
          margin: 0;
          text-align: center;
        }
      }

      .customed {
        input {
          background: transparent;
          color: #ffffff;
          border-radius: 0;
          border: none;
          // border-bottom: 1px solid #ffffff;

          &::placeholder {
            color: #ffffff !important;
            opacity: 1;
          }
          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
             color: #ffffff !important;
          }

          &::-ms-input-placeholder { /* Microsoft Edge */
             color: #ffffff !important;
          }
          &:focus {
            outline: none !important;
            box-shadow: none !important;
            font-size: 1rem;
            border-bottom: 1px solid #ffffff;
            transition: 1s;

          }

        }
      }

      .customed-warning {
        input {
          background: transparent;
          color: #ffffff;
          border-radius: 0;
          border: none;
          border-bottom: 1px solid #e20000;

          &::placeholder {
            color: #e20000 !important;
            opacity: 1;
          }
          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
             color: #e20000 !important;
          }

          &::-ms-input-placeholder { /* Microsoft Edge */
             color: #e20000 !important;
          }
          &:focus {
            outline: none !important;
            box-shadow: none !important;
            font-size: 1rem;
            transition: font-size 1s;
          }

        }
      }

      .customed-logo {
        span {
          background: transparent;
          color: #ffffff;
          border-radius: 0;
          border: 1px solid #ffffff;
          // border-bottom: 1px solid #ffffff;
        }
      }

      .customed-logo-warning {
        span {
          background: transparent;
          color: #e20000;
          border-radius: 0;
          border: 1px solid #e20000;
          // border-bottom: 1px solid #e20000;
        }
      }

      .customed-button {
        margin-top: 1.7em;
        .make-oval {
          border-radius: 20px;
          width: 100%;
        }
      }

      .redirect-link {
        margin-top: 1em;
        a {
          color: #ffffff;
          text-decoration: underline;

        }
      }
    }
  }
}
